<!-- OBSOLETE - LOGIN HAS BEEN DELEGATED TO AUTH0 -->
<!-- <div class="wrapper">
  <div class="logo"> <img src="assets\static\MGW_LOGO.png" alt="mgw" width="10px" height="10px"> </div>
  <div class="text-center mt-4 name">MGW</div>
  <form class="p-3 mt-3" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-field d-flex align-items-center">
      <fa-icon [icon]="faUser"></fa-icon> <input type="text" name="userName" id="userName" placeholder="Username"
        formControlName="username">
    </div>
    <div class="form-field d-flex align-items-center">
      <fa-icon [icon]="faKey"></fa-icon> <input type="password" name="password" id="pwd" placeholder="Password"
        formControlName="password">
    </div> <button class="btn mt-3" type="submit" [disabled]="this.loginForm.invalid">Login</button>
  </form>
  <div class="text-center fs-6"> <a routerLink="/forgetPassword">Forget password?</a> or <a routerLink="/signup">Sign
      up</a> </div>
</div> -->
